body{
    font-family: 'Shippori Mincho B1', serif;
    background-color: rgb(206, 33, 33);
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    border: 40px solid white;
    height: 670px;
}

.textAbt{
    width: 800px;
    margin-right: 50px;

}

.title{
    font-size: 8rem;
}

.imgAndLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.link{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(206, 33, 33, 0.5);
    border-radius: 16px;
    }

.link:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(206, 33, 33, 1);
    text-decoration: none;
}

.bigPic{
    width: 300px;
}

